body {
    color: black;
    background: #e5e5e5;
}

#menu {
    color: white;
}

.navbar {
    padding: 0 7% !important;
}

.container {
    text-align: center;
}

.oferta {
    text-align: left !important;
}

.active {
    background-color: #f06969 !important;
}

.navbar {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: red;
    font-size: 20px !important;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white !important;
    display: block;
    height: 45px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar li {
    height: 45px;
    margin: 0;
}

.navbar li:hover {
    background-color: #f06969;
    -webkit-transition: background-color 175ms linear;
    -ms-transition: background-color 175ms linear;
    transition: background-color 175ms linear;
}

.navbar-toggler:hover {
    background-color: #e5e5e5;
}

a.navbar-brand {
    background-color: #e5e5e5 !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

header img {
    height: 45px;
}

.form-inline input,
button {
    background-color: #e5e5e5 !important;
}

.form-inline button:hover {
    background-color: #d4d4d4 !important;
}

.oferta {
    list-style-type: circle;
}

.italic {
    font-style: italic;
}

.pogrubiony1 {
    font-weight: bold;
}

footer {
    position: relative;
    bottom: 3px;
    width: 100%;
    text-align: center;
}

.footer_text {
    height: 128px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.footer img {
    opacity: 0.5;
}

.footer img:hover {
    opacity: 1;
}

.przerwa {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#_resimage {
    width: 100%;
    height: 100%;
}

._resimage {
    width: 100%;
    height: 100%;
    max-width: 250px;
}

@media only screen and (max-width: 500px) {
    ._resimage {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 70px;
    }
}

.carousel-caption {
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.podpis {
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 1) !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000 !important;
}
.indekslist
{
    list-style-position: inside;
    list-style-type: circle;
}