@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
   font-family: "entypo", sans-serif;
}
aside a { 
   text-decoration: none !important;
}
aside ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
aside .container {
   margin: 0 auto;
   padding: 20px 50px;
   background: white;
}
#sticky-social {
   right: 0;
   position: fixed;
   top: 250px;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   right: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#sticky-social a:hover span {
   right: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

.container .gallery a img {
   float: left;
   width: 20%;
   border: 2px solid #fff;
   -webkit-transition: -webkit-transform .15s ease !important; 
   -moz-transition: -moz-transform .15s ease !important;
   -o-transition: -o-transform .15s ease !important;
   -ms-transition: -ms-transform .15s ease !important;
   transition: transform .15s ease !important;
   position: relative;
   object-fit: cover;
   height: 10vw;
 }

 @media only screen and (max-width: 380px) {
    .container .gallery a img {
       min-width: 120px;
       min-height: 120px;
    }
 }

 @media only screen and (min-width: 381px) and (max-width: 550px) {
   .container .gallery a img {
      min-width: 130px;
      min-height: 130px;
   }
 }

 @media only screen and (min-width: 551px) and (max-width: 800px) {
   .container .gallery a img {
      min-width: 140px;
      min-height: 140px;
   }
 }

 .container .gallery a:hover img {
   -webkit-transform: scale(1.05) !important;
   -moz-transform: scale(1.05) !important;
   -o-transform: scale(1.05) !important;
   -ms-transform: scale(1.05) !important;
   transform: scale(1.05) !important;
   z-index: 5;
 }
 
 .clear {
   clear: both;
   float: none;
   width: 100%;
 }